{% extends 'base.html'%}
{% block title %}Oxygen Page{% endblock %}
{% block content %}
<style>
  .dists{
    width: 100%;
    height: 120vh;
    background:rgb(50,92,132);
    color: white;
    padding-top: 200px;
  }
  .buttoon{
    width:100%;
    left:50%;

  }
  .buttoon button{
    margin-top:10px;
    border: none;
    width:140px;
    height:40px;
    color: white;
    background-color: #F09537;
  }
</style>
<center>
  <div class = "dists">
            <div class="container">
                {% if message %}
                {{message}}
                {% endif %}
                <form action="/savedata" method = "POST">

                  <div class="row">
                    <div class="col-25">
                      <label for="country">District</label>
                    </div>
                    <div class="col-75">
                        <select name = "district">
                            <option value = "Anantapur">Anantapur</option>
                            <option value = "Chittoor">Chittoor</option>
                            <option value = "East Godavari">East Godavari</option>
                            <option value = "Guntur">Guntur</option>
                            <option value = "Krishna">Krishna</option>
                            <option value = "Kurnool">Kurnool</option>
                            <option value = "Prakasam">Prakasam</option>
                            <option value = "Srikakulam">Srikakulam</option>
                            <option value = "Nellore">Nellore</option>
                            <option value = "visakhapatnam">visakhapatnam</option>
                            <option value = "Vizayanagaram">Vizayanagaram</option>
                            <option value = "West Godavari">West Godavari</option>
                            <option value = "Kadapa">Kadapa</option></select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="country">Mandals</label>
                    </div>
                    <div class="col-75">
                        <select name = "mandals">
                            <option value = "tadepalligudem">Tadepalligudem</option>
                            <option value = "nallajerla">Nallajerla</option>
                            <option value = "tanuku">Tanuku</option>
                            <option value = "eluru">Eluru</option>
                            <option value = "narasapuram">Narasapuram</option>
                            <option value = "deverapalle">Deverapalle</option>
                            <option value = "gopalapuram">Gopalapuram</option>
                            <option value = "kovvur">Kovvur</option>
                            <option value = "bhimadole">Bhimadole</option>
                            <option value = "chintalapudi">Chintalapudi</option>
                            <option value = "ganapavaram">Ganapavaram</option>
                            <option value = "bhimavaram">Bhimavaram</option>
                            <option value = "pallakollu">Pallakollu</option>
                            <option value = "nidadhavole">Nidadhavole</option>
                            <option value = "pedavegi">Pedavegi</option>
                            <option value = "pentapadu">Pentapadu</option>
                            <option value = "pervali">Peravali</option>
                            <option value = "veeravasaram">Veeravasaram</option>
                            <option value = "yelamanchili">Yelamanchili</option></select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="country">Select the No.Of Oxygen beds available</label>
                    </div>
                    <div class="col-75">
                       <input type="number" name = "oxygenbeds">
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-25">
                      <label for="country">Select the No.Of Covid Hospitals available</label>
                    </div>
                    <div class="col-75">
                       <input type="number" name = "covidhsptls">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="country">Contact Details of that Covid Hospitals</label>
                    </div>
                    <div class="col-75">
                       <textarea name = "hsptlsaddr"></textarea>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="country">Quarantine centers</label>
                    </div>
                    <div class="col-75">
                       <textarea name = "quarantine"></textarea>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-25">
                      <label for="country">Plasma Donors Details</label>
                    </div>
                    <div class="col-75">
                       <textarea name = "plsmadonors"></textarea>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="country">Vaccination Centers</label>
                    </div>
                    <div class="col-75">
                       <textarea name = "vaccine"></textarea>
                    </div>
                  </div>

                  <div class="row">
                    <div class="buttoon">
                      <button>Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </center>
          </div>

          {% endblock %}
